.SearchResultTable {
    width: 75%;
    margin: auto;
}

.SearchResultTable_table {
    color: var(--navy);
    padding: 15px;
}

.search_result_table_row {
    border: none;
}

.search_result_table_header {
    border: none;
    background-color: var(--navy);
    padding-right: 0;
    
}

.search_result_table_header span{
    color: white;
}

.search_result_table_row div{
    justify-content: center;
}
