.NomineeFinder {
    justify-content: center;
}

.NomineeFinder_search_wrapper {
    padding: 10px;
    display: inline;
}

.NomineeFinder_search {
    width: 50%;
    padding: 20px;
    border-radius: 25px;
}

.NomineeFinder_load_button_wrapper {
    padding: 10px;
    padding-bottom: 25px;
}

.NomineeFinder_load_button  {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--navy);
    background-color: var(--navy);
}
  
.NomineeFinder_load_button:hover  {
    box-shadow: 0 0 8px 1px var(--blue);
    border: 1px solid var(--blue);
}

.NomineeFinder_load_button_text {
    color: white;
}

.NomineeFinder_checkbox {
    margin: auto;
    padding: 10px;
    width: 200px;
}