@import "./root.css";

.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App_heading {
  width: 35%;
  padding: 50px;
  padding-bottom: 10px;
}

.App_review_button {
  text-align: center;
  border-radius: 25px;
}

.App_review_button_wrapper {
  padding: 10px;
  padding-bottom: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
